In [80]:
import pandas as pd
import plotly.express as px
import sys
import os
from pandas.api.types import is_numeric_dtype

### Load Data

In [81]:
df = pd.read_excel(os.path.abspath(os.path.join('../'))+"/data/Week1_challenge_data_source.xlsx")

### Display some of the data

In [82]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,"13,114,483,460,844,900,352.00",2019-04-04 12:01:18,770.00,2019-04-25 14:35:31,662.00,"1,823,652.00","208,201,448,079,117.00","33,664,962,239.00","35,521,209,507,511.00",9164566995485190,...,"15,854,611.00","2,501,332.00","8,198,936.00","9,656,251.00","278,082,303.00","14,344,150.00","171,744,450.00","8,814,393.00","36,749,741.00","308,879,636.00"
1,"13,114,483,482,878,900,224.00",2019-04-09 13:04:04,235.00,2019-04-25 08:15:48,606.00,"1,365,104.00","208,201,909,211,140.00","33,681,854,413.00","35,794,009,006,359.00",L77566A,...,"20,247,395.00","19,111,729.00","18,338,413.00","17,227,132.00","608,750,074.00","1,170,709.00","526,904,238.00","15,055,145.00","53,800,391.00","653,384,965.00"
2,"13,114,483,484,080,500,736.00",2019-04-09 17:42:11,1.00,2019-04-25 11:58:13,652.00,"1,361,762.00","208,200,314,458,056.00","33,760,627,129.00","35,281,510,359,387.00",D42335A,...,"19,725,661.00","14,699,576.00","17,587,794.00","6,163,408.00","229,584,621.00","395,630.00","410,692,588.00","4,215,763.00","27,883,638.00","279,807,335.00"
3,"13,114,483,485,442,799,616.00",2019-04-10 00:31:25,486.00,2019-04-25 07:36:35,171.00,"1,321,509.00","208,201,402,342,131.00","33,750,343,200.00","35,356,610,164,913.00",T21824A,...,"21,388,122.00","15,146,643.00","13,994,646.00","1,097,942.00","799,538,153.00","10,849,722.00","749,039,933.00","12,797,283.00","43,324,218.00","846,028,530.00"
4,"13,114,483,499,480,700,928.00",2019-04-12 20:10:23,565.00,2019-04-25 10:40:32,954.00,"1,089,009.00","208,201,401,415,120.00","33,699,795,932.00","35,407,009,745,539.00",D88865A,...,"15,259,380.00","18,962,873.00","17,124,581.00","415,218.00","527,707,248.00","3,529,801.00","550,709,500.00","13,910,322.00","38,542,814.00","569,138,589.00"

In [83]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

### User Overview Analysis

### Top10 Handsets Used by Customer

In [84]:
top_10_handset_types=df["Handset Type"].value_counts().nlargest(n=10)
top_10_handset_types

Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: Handset Type, dtype: int64

### Top 3 Handset Manufacturers

In [85]:

top_handset_man = df["Handset Manufacturer"].value_counts().nlargest(n=3)
top_handset_man

Apple      59565
Samsung    40839
Huawei     34423
Name: Handset Manufacturer, dtype: int64

### Top 5 handsets per top 3 manufacturer

In [86]:
# Apple
apple_df = df[df["Handset Manufacturer"]=="Apple"]

top_handsets_apple= apple_df.value_counts().nlargest(n=5)
top_handsets_apple

Bearer Id                      Start                Start ms  End                  End ms  Dur. (ms)  IMSI                    MSISDN/Number      IMEI                   Last Location Name  Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  Avg Bearer TP UL (kbps)  TCP DL Retrans. Vol (Bytes)  TCP UL Retrans. Vol (Bytes)  DL TP < 50 Kbps (%)  50 Kbps < DL TP < 250 Kbps (%)  250 Kbps < DL TP < 1 Mbps (%)  DL TP > 1 Mbps (%)  UL TP < 10 Kbps (%)  10 Kbps < UL TP < 50 Kbps (%)  50 Kbps < UL TP < 300 Kbps (%)  UL TP > 300 Kbps (%)  HTTP DL (Bytes)  HTTP UL (Bytes)  Activity Duration DL (ms)  Activity Duration UL (ms)  Dur. (ms).1    Handset Manufacturer  Handset Type            Nb of sec with 125000B < Vol DL  Nb of sec with 1250B < Vol UL < 6250B  Nb of sec with 31250B < Vol DL < 125000B  Nb of sec with 37500B < Vol UL  Nb of sec with 6250B < Vol DL < 31250B  Nb of sec with 6250B < Vol UL < 37500B  Nb of sec with Vol DL < 6250B  Nb of sec with Vol UL < 1250B  Social Media DL (Bytes)  Social Media UL (Bytes)  Google DL (Bytes)  Google UL (Bytes)  Email DL (Bytes)  Email UL (Bytes)  Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
6,917,537,682,827,169,792.00   2019-04-24 01:17:43  711.00    2019-04-25 01:17:43  568.00  86,399.00  208,201,714,783,099.00  33,663,258,895.00  35,302,809,038,398.00  G20075C             174.00           11.00            16,763.00                4,934.00                 278,195.00                   17,637.00                    93.00                3.00                            2.00                           1.00                98.00                0.00                           0.00                            0.00                  358,492.00       78,027.00        991,310.00                 954,891.00                 86,399,857.00  Apple                 Apple iPhone 6 (A1586)  55.00                            16.00                                  69.00                                     13.00                           106.00                                  11.00                                   3,118.00                       3,180.00                       708,710.00               14,036.00                3,366,017.00       4,082,486.00       2,105,531.00      409,879.00        14,226,443.00       16,417,911.00       1,194,824.00        19,985,856.00       415,444,913.00     16,507,720.00      636,482,497.00    3,505,851.00      60,923,739.00     437,046,438.00      1
13,042,425,959,611,600,896.00  2019-04-24 20:41:35  314.00    2019-04-25 02:02:08  625.00  19,233.00  208,201,447,792,092.00  33,699,117,181.00  35,948,208,243,276.00  D70483C             71.00            2.00             10,430.00                7,267.00                 11,902.00                    140,479.00                   91.00                4.00                            3.00                           0.00                96.00                2.00                           0.00                            0.00                  32,277.00        20,130.00        425,869.00                 424,000.00                 19,233,311.00  Apple                 Apple iPhone 6 (A1586)  12.00                            35.00                                  48.00                                     8.00                            68.00                                   10.00                                   1,395.00                       1,413.00                       585,634.00               43,538.00                2,811,340.00       3,802,272.00       3,387,623.00      106,564.00        7,405,212.00        9,870,753.00        8,572,492.00        1,692,622.00        526,071,993.00     4,832,788.00       424,713,142.00    6,706,020.00      27,054,557.00     548,834,294.00      1
13,042,425,959,634,399,232.00  2019-04-24 20:48:33  450.00    2019-04-25 00:01:32  105.00  11,578.00  208,201,715,500,070.00  33,782,232,217.00  35,487,709,380,920.00  D73501B             76.00            5.00             19,733.00                8,087.00                 111,857.00                   12,578.00                    91.00                3.00                            2.00                           2.00                93.00                5.00                           0.00                            0.00                  1,006,626.00     161,009.00       573,735.00                 578,234.00                 11,578,655.00  Apple                 Apple iPhone X (A1901)  49.00                            100.00                                 43.00                                     4.00                            69.00                                   6.00                                    1,632.00                       1,630.00                       476,113.00               40,932.00                7,884,168.00       223,900.00         2,961,231.00      329,639.00        906,603.00          1,753,907.00        11,477,202.00       7,800,128.00        203,288,056.00     2,918,324.00       213,232,236.00    8,758,351.00      21,825,181.00     226,993,373.00      1
13,042,425,959,625,099,264.00  2019-04-24 20:45:43  901.00    2019-04-25 03:36:03  105.00  24,619.00  208,200,853,646,197.00  33,761,380,305.00  35,306,909,677,828.00  T93073A             46.00            6.00             41,216.00                29,145.00                1,466,773.00                 25,460.00                    82.00                5.00                            6.00                           5.00                95.00                3.00                           0.00                            0.00                  4,158,198.00     340,195.00       1,596,661.00               1,774,381.00               24,619,204.00  Apple                 Apple iPhone 7 (A1778)  304.00                           231.00                                 408.00                                    30.00                           338.00                                  17.00                                   4,897.00                       5,757.00                       210,349.00               63,331.00                9,163,346.00       66,479.00          3,032,498.00      839,093.00        16,557,624.00       6,714,429.00        15,481,110.00       17,819,670.00       589,274,408.00     8,917,252.00       227,247,744.00    11,926,018.00     46,346,272.00     633,719,335.00      1
13,042,425,959,623,299,072.00  2019-04-24 20:45:12  574.00    2019-04-25 01:33:44  748.00  17,312.00  208,201,908,759,157.00  33,650,031,205.00  35,656,208,789,822.00  D42236A             43.00            7.00             48,461.00                5,056.00                 6,635,004.00                 33,902.00                    80.00                10.00                           4.00                           4.00                95.00                3.00                           0.00                            0.00                  70,722,883.00    908,190.00       1,786,458.00               1,519,564.00               17,312,174.00  Apple                 Apple iPhone 7 (A1778)  214.00                           178.00                                 201.00                                    4.00                            456.00                                  15.00                                   3,565.00                       4,299.00                       1,564,832.00             47,747.00                422,927.00         3,376,268.00       111,577.00        802,504.00        6,631,973.00        9,331,600.00        1,254,927.00        1,612,314.00        40,851,615.00      8,125,495.00       249,084,358.00    15,878,737.00     39,174,665.00     50,837,851.00       1
dtype: int64

In [87]:
# missing_values_table(df)

### Handling missing values

In [88]:
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,"149,010.00","150,000.00","150,000.00","150,000.00","149,431.00","148,935.00","149,429.00","122,172.00","122,189.00","150,000.00",...,"150,001.00","150,001.00","150,001.00","150,001.00","150,001.00","150,001.00","150,001.00","150,001.00","150,000.00","150,000.00"
mean,"10,138,874,654,256,340,992.00",499.19,498.80,"104,608.56","208,201,639,651,669.06","41,882,819,545.03","48,474,547,977,654.53",109.80,17.66,"13,300.05",...,"11,634,072.50","11,009,410.13","11,626,851.72","11,001,754.82","422,044,702.60","8,288,398.11","421,100,544.19","8,264,799.42","41,121,206.29","454,643,430.08"
std,"2,893,172,512,268,411,392.00",288.61,288.10,"81,037.62","21,488,090,841.37","2,447,443,358,621.67","22,416,372,027,957.56",619.78,84.79,"23,971.88",...,"6,710,568.85","6,345,423.35","6,725,218.03","6,359,489.76","243,967,494.35","4,782,699.66","243,205,009.81","4,769,003.69","11,276,386.51","244,142,874.38"
min,"6,917,537,518,543,529,984.00",0.00,0.00,"7,142.00","204,047,108,489,451.00","33,601,001,722.00","440,015,202,000.00",0.00,0.00,0.00,...,53.00,105.00,42.00,35.00,"2,516.00",59.00,"3,290.00",148.00,"2,866,892.00","7,114,041.00"
25%,"7,349,883,246,953,990,144.00",250.00,251.00,"57,440.50","208,201,401,263,249.00","33,651,295,581.50","35,460,708,865,439.00",32.00,2.00,43.00,...,"5,833,501.00","5,517,965.00","5,777,156.00","5,475,981.00","210,473,253.00","4,128,476.00","210,186,872.00","4,145,943.00","33,222,010.50","243,106,803.00"
50%,"7,349,883,264,156,584,960.00",499.00,500.00,"86,399.00","208,201,546,329,113.00","33,663,706,799.00","35,722,009,426,311.00",45.00,5.00,63.00,...,"11,616,019.00","11,013,447.00","11,642,217.00","10,996,384.00","423,408,104.00","8,291,208.00","421,803,006.00","8,267,071.00","41,143,312.00","455,841,077.50"
75%,"13,042,425,978,957,576,192.00",749.00,750.00,"132,430.25","208,201,771,619,103.00","33,683,490,769.00","86,119,704,674,953.00",70.00,15.00,"19,710.75",...,"17,448,518.00","16,515,562.00","17,470,478.00","16,507,268.00","633,174,167.00","12,431,624.00","631,691,786.00","12,384,148.00","49,034,238.50","665,705,544.00"
max,"13,186,541,167,134,199,808.00",999.00,999.00,"1,859,336.00","214,074,303,349,628.00","882,397,108,489,451.00","99,001,201,327,774.00","96,923.00","7,120.00","378,160.00",...,"23,259,098.00","22,011,962.00","23,259,189.00","22,011,955.00","843,441,889.00","16,558,794.00","843,442,489.00","16,558,816.00","78,331,311.00","902,969,616.00"

In [89]:
df["Bearer Id"] = convert_to_str(df,"Bearer Id")
df["IMSI"] = convert_to_str(df,"IMSI")
df["MSISDN/Number"] = convert_to_str(df,"MSISDN/Number")

In [90]:
df["Bearer Id"] = df["Bearer Id"].astype(str)
df["IMSI"] = df["IMSI"].astype(str)
df["MSISDN/Number  "] = df["MSISDN/Number"].astype(str)
df["Bearer Id"] = df["Bearer Id"].astype(str)

In [91]:
# Function to calculate missing values by column
def missing_values_table(df):
    # Total missing values per column
    mis_val = df.isnull().sum()
    # Total missing values
    mis_values=mis_val.sum()
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # dtype of missing values
    mis_val_dtype = df.dtypes

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, mis_val_dtype], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values', 2: 'Dtype'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)

    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

def fill_missing_values_with_mean(df,col):
    df[col].fillna(int(df[col].mean()), inplace=True)
    return df

def format_float(value):
    return f'{value:,.2f}'

def find_agg(df:pd.DataFrame, agg_column:str, agg_metric:str, col_name:str, top:int, order=False )->pd.DataFrame:
    
    new_df = df.groupby(agg_column)[agg_column].agg(agg_metric).reset_index(name=col_name).\
                        sort_values(by=col_name, ascending=order)[:top]
    
    return new_df

def convert_to_str(df,col):
    df[col] = df[col].astype(str)
    return df[col]

def convert_bytes_to_megabytes(df, bytes_data):
    """
        This function takes the dataframe and the column which has the bytes values
        returns the megabytesof that value
        
        Args:
        -----
        df: dataframe
        bytes_data: column with bytes values
        
        Returns:
        --------
        A series
    """
    
    megabyte = 1*10e+5
    df[bytes_data] = df[bytes_data] / megabyte
    
    return df[bytes_data]

pd.options.display.float_format = format_float

Aggregate per user the following information in the column  
- number of xDR sessions
- Session duration
- the total download (DL) and upload (UL) data
- the total data volume (in Bytes) during this session for each application

number of cDR sessions

In [92]:
session_no = df.groupby("IMSI").agg({"Bearer Id":"count"}).reset_index().sort_values(by="Bearer Id",ascending=False)
session_df = session_no[session_no["Bearer Id"] > 0]
session_df

                     IMSI  Bearer Id
107265                nan        570
36781   208201402778052.0         18
15895   208201007176097.0         17
71849   208201715944176.0         17
88187   208201906760163.0         16
...                   ...        ...
41148   208201448672149.0          1
41147   208201448672145.0          1
41145   208201448672015.0          1
41144   208201448671128.0          1
53633   208201546185018.0          1

[107266 rows x 2 columns]

Session Duration

In [93]:
session_duration = df.groupby(['IMSI'])['Dur. (ms)'].sum()
session_duration

IMSI
204047108489451.0      869,844.00
204080810288647.0      877,385.00
208200101016140.0       86,019.00
208200101127285.0       86,254.00
208200101148045.0      573,923.00
                         ...
208209850788245.0      168,543.00
208209850788283.0       86,399.00
208252167239575.0       56,613.00
214074303349628.0      226,790.00
nan                 37,507,441.00
Name: Dur. (ms), Length: 107266, dtype: float64

Total DL & UL Data

In [94]:
total_DL_UL = df.groupby(['IMSI'])['Total UL (Bytes)', 'Total DL (Bytes)'].sum()
total_DL_UL

C:\Users\Nardos\AppData\Local\Temp\ipykernel_11352\2930739185.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  total_DL_UL = df.groupby(['IMSI'])['Total UL (Bytes)', 'Total DL (Bytes)'].sum()

                   Total UL (Bytes)   Total DL (Bytes)
IMSI
204047108489451.0     60,456,049.00      78,697,597.00
204080810288647.0     37,295,915.00     194,828,056.00
208200101016140.0     53,794,658.00      31,376,981.00
208200101127285.0     33,583,272.00     392,918,313.00
208200101148045.0     71,325,004.00     961,767,023.00
...                             ...                ...
208209850788245.0     44,692,550.00     451,173,021.00
208209850788283.0     30,355,487.00     307,825,104.00
208252167239575.0     45,083,854.00     800,629,358.00
214074303349628.0     57,382,080.00     637,123,579.00
nan               23,506,131,290.00 258,016,158,687.00

[107266 rows x 2 columns]

In [95]:
# fig = px.histogram(session_df,x="MSISDN/Number")
# fig.show()