In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
import numpy as np
from pandas.api.types import is_numeric_dtype
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
sys.path.insert(0, '../scripts')
sys.path.insert(0,'../data')
from visualize import *

The satisfaction of a user is dependent on user engagement and experience,engagement score to each user.
Considering the engagement score as the Euclidean distance between the user data point & the less engaged cluster  each user was scored with an engagement score. Also considering the experience score as the Euclidean distance between the user data point & the worst experience’s cluster, the data was scored with an experience score.

In [6]:
eng_data = pd.read_csv("../data/eng_score.csv")
exp_data = pd.read_csv("../data/exp_score.csv")
satisfaction_df = pd.merge(eng_data, exp_data, on='user_id')[['user_id','engagement_score','experience_score']]
satisfaction_df

             user_id  engagement_score  experience_score
0       3.360100e+10          0.288139          0.466535
1       3.360100e+10          0.319986          0.473884
2       3.360100e+10          0.293303          0.465851
3       3.360101e+10          0.321587          0.450698
4       3.360101e+10          0.212980          0.330968
...              ...               ...               ...
106851  3.379000e+10          0.301337          0.429164
106852  3.379000e+10          0.302751          0.471788
106853  3.197021e+12          0.319881          0.465876
106854  3.370000e+14          0.293888          0.465876
106855  8.823971e+14          0.318849          0.465876

[106856 rows x 3 columns]

considering the average of both engagement & experience scores as  the satisfaction score & report the top 10 satisfied customer

In [8]:
satisfaction_df["satisfaction_score"] = (satisfaction_df['engagement_score']+satisfaction_df['experience_score'])/2
satisfaction_df

             user_id  engagement_score  experience_score  satisfaction_score
0       3.360100e+10          0.288139          0.466535            0.377337
1       3.360100e+10          0.319986          0.473884            0.396935
2       3.360100e+10          0.293303          0.465851            0.379577
3       3.360101e+10          0.321587          0.450698            0.386143
4       3.360101e+10          0.212980          0.330968            0.271974
...              ...               ...               ...                 ...
106851  3.379000e+10          0.301337          0.429164            0.365250
106852  3.379000e+10          0.302751          0.471788            0.387269
106853  3.197021e+12          0.319881          0.465876            0.392879
106854  3.370000e+14          0.293888          0.465876            0.379882
106855  8.823971e+14          0.318849          0.465876            0.392363

[106856 rows x 4 columns]

In [11]:
print("Top 10 satisfied users")
print("--------------------------------------------")
satisfied_users = satisfaction_df.groupby('user_id')["satisfaction_score"].mean().reset_index()
satisfied_users.sort_values(by = "satisfaction_score",ascending=False).head(10)

Top 10 satisfied users
--------------------------------------------

            user_id  satisfaction_score
6437   3.361489e+10            1.237534
13526  3.362632e+10            1.174855
13180  3.362578e+10            1.113914
37052  3.365973e+10            1.108123
76363  3.367588e+10            1.107763
92923  3.376054e+10            1.041343
57241  3.366471e+10            0.845456
92577  3.376041e+10            0.822567
1279   3.360452e+10            0.802988
35436  3.365936e+10            0.779337

A regression model to predict the satisfaction score of a customer.

A k-means (k=2) on the engagement & the experience score

Task 4.5 - Aggregate the average satisfaction & experience score per cluster.